@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3767c;
}

.display-info {
    width: 204px;
    height: 50px;
    background-color: #bdf0a6;
    margin: 18px 0;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    /* font-family: 'LCD', sans-serif; */
    font-family: 'VTFMisterPixelRegular', sans-serif;
    color: #00020e;
}

.display-operations{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 25px;
}

#displayNumber {
    order: 1;
}

#displaySign{
    order: 2;
}

#displayResult{
    align-self: flex-end;
    font-size: 14px;
    height: 16px;
}



.calculator-external {
    width: 240px;
    height: 280px;
    margin: 0 auto;
    background-color: rgb(36, 36, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}



   

.general-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 80%; */
    height: 70%;
    margin-bottom: 12px;
}

.general-buttons button {
    width: 36px;
    height: 32px;
    margin-top: 4px;
    border: none;
    border-radius: 2px;
    background-color: #868596;
    color: #EFEFEF;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Allerta Stencil', sans-serif;
}



.right-container button{
    background-color: #48494e;
}

 .numeric-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 } 


.operations-buttons{
    height: 40%;
}

.solar-charger {
    width: 100px;
    height: 26px;
    background-color: #ac5c4c;
    border-radius: 3px;
    display: flex;
    align-self: center;
}

.square {
    width: 25px;
    height: 100%;
    
}

.square:nth-child(2), .square:nth-child(3){
    border-left: 1px solid #c17463;
    border-right: 1px solid #c17463;
}

.upper-container{
    width: 204px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.upper-container .operations-buttons{
    display: flex;
    width: 78px;
    margin-top: 0;
    justify-content: space-between;
}

#deleteButtons button{
    margin-top: 0;
    background-color: #86467b;
    color: #EFEFEF;
}

.bottom-container{
    width: 204px;
    display: flex;
    justify-content: space-between;
}

.fa-circle{
    font-size: 5px;
}

.left-container{
    width: 120px;
    display: flex;
    flex-wrap: wrap;
}

.right-container {
    width: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-container button:nth-child(odd){
    margin-left: 6px;
}

#equal{
    flex-grow: 2;
    background-color: rgb(255, 94, 0);
    color: #EFEFEF;
}

.botton-left-container{
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.dot-changeSign {
    display: flex;
    width: 78px;
    justify-content: space-between;
}