*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-info {
    width: 204px;
    height: 30px;
    background-color: silver;
    margin: 12px 0;
    display: flex;
    flex-direction: row-reverse;
}

#displayNumber {
    order: 1;
}

#displaySign{
    order: 2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-external {
    width: 30%;
    height: 50%;
    margin: 0 auto;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 70%;
}

.general-buttons button {
    width: 36px;
    height: 32px;
    
}

 .numeric-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 } 


.operations-buttons{
    height: 40%;
}

.solar-charger {
    width: 100px;
    height: 30px;
    background-color: brown;
}


.upper-container{
    width: 204px;
    display: flex;
    justify-content: space-between;
}

.upper-container .operations-buttons{
    display: flex;
    width: 78px;
    justify-content: space-between;
}

.bottom-container{
    width: 204px;
    display: flex;
    justify-content: space-between;
}

.fa-circle{
    font-size: 5px;
}

.left-container{
    width: 120px;
    display: flex;
    flex-wrap: wrap;
}

.right-container {
    width: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-container button:nth-child(odd){
    margin-left: 6px;
}

#equal{
    flex-grow: 2;
}

.botton-left-container{
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.dot-changeSign {
    display: flex;
    width: 78px;
    justify-content: space-between;
}