*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-info {
    width: 200px;
    height: 30px;
    background-color: silver;
    margin: 12px 0;
    display: flex;
    flex-direction: row-reverse;
}

#displayNumber {
    order: 1;
}

#displaySign{
    order: 2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-external {
    width: 30%;
    height: 50%;
    margin: 0 auto;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 70%;
}

.general-buttons button {
    width: 2.5rem;
    height: 2rem;
    
}

.numeric-buttons {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    /* padding: 0 15px; */
}

.operations-buttons{
    height: 40%;
}

.fa-circle{
    font-size: 5px;
}